@font-face {
  font-family: 'CPN';
  src: url('./fonts/CPN-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'CPN';
  src: url('./fonts/CPN-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --font-family: 'CPN', sans-serif;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

body {
  font-family: var(--font-family);
  margin: 0;
  background-color: var(--background-light);
  color: var(--text-color-light);
}